

.gradient li:hover {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0% , rgba(200,200,200,1) 100%);
}

.nav-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.customdropdown {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    color: #005894;
    font-weight: bold;
}
.customdropdown div ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.customdropdown div ul li {
    margin: auto;
}

#nav-btn a{
    background-color: #28BDD6;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid #24aac1;
}

#nav-btn a:hover {
    background-color: #2097ab;
    border-color: #1a7c8d;
}

#nav-btn:hover {
    background: #ffffff;
}

.customdropdown {
    display: none;
    position: absolute;
    left: 0;
    top: 60px;
}

.dropdown-trigger:hover div {
    display: block;
}

.show {
    display: block;
}

.banner-gradient {
    background: linear-gradient(90deg, #005E9E 0%, #513777 50%, #A90E4E 100%);
    padding-bottom: 20px;
    margin-top: 60px;
}


.banner-gradient p {
    color: white;
    font-weight: bold;
    font-size: xx-large;
    margin: auto;
    text-align: center;
    margin: 20px 40px;
}

#small-nav {
    background-color: white;
}

@media only screen and (max-width: 992px){
    .banner-gradient p {
        font-size: x-large;
    }
}

@media only screen and (max-width: 770px){
    .banner-gradient p {
        margin: 2px;
        font-size: large;
    }
}


#large-nav {
    display: none;
    background-color: white;
    box-shadow: 0px 0px 10px #111111;
}

#small-nav {
    display: none;
}

#small-nav li {
    padding-left: 12px;
    background-color: #0A98CE;
    padding-top: 0;
    padding-bottom: 0;
}
#small-nav li:hover {
    background-color: #0080C5;
}

#small-nav li a {
    color: white;
    font-weight: bold;
}

#small-nav .container-fluid {
    padding: 0;
}

#small-nav .navbar-brand {
    margin-left: 12px;
}

.navbar-nav {
    background-color: white;
}

.navbar-toggler {
    margin-right: 12px;
}

@media only screen and (max-width: 992px){
    #small-nav {
        display: block;
    }
}
    

@media only screen and (min-width: 992px){
    #large-nav {
        display: block
    }
}

#techstack {
    background-color: #003254;
    padding: 48px;
 
}

@media only screen and (max-width: 576px){
    #techstack img {
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 320px){
    #techstack img {
        width: 70px;
        height: 70px;
    }
}

.carousel-caption {
    width: 35%;
    height:  70%;
    margin-left: 0;
    padding: 20px;
    background-color: rgba(255,255,255,.75);
}


.carousel-text {
    color:#003254;
    text-align: start;
    top: 15%;
}

.carousel-text h3 {
    font-weight: bold;
    font-size: 30px;
}
.carousel-text p {
    font-size: x-large;
}

#small-captions {
    background: rgb(40,189,214);
    background: linear-gradient(90deg, rgba(40,189,214,1) 0%, rgba(0,50,84,1) 100%);;
}

.small-caption {
    color: white;
    padding: 20px 0;
}


@media only screen and (max-width: 1700px){
    .carousel-text h3 {
        font-size: 25px;
    }
    .carousel-text p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1400px){
    .carousel-text h3 {
        font-size: 20px;
    }
    .carousel-text p {
        font-size: 15px;
    }
}


/* animation techstack */


@keyframes wobble {
    0% {
        transform: scale(1);
        transform: rotate(0deg);
    }
    5% {
        transform: scale(1.2);
        transform: rotate(0deg);
    }
    10% {
        transform: scale(1.2);
        transform: rotate(15deg);
    }
    15% {
        transform: scale(1.2);
        transform: rotate(-15deg);
    }
    20% {
        transform: scale(1.2);
        transform: rotate(15deg);
    }
    25% {
        transform: scale(1.2);
        transform: rotate(-15deg);
    }
    30% {
        transform: scale(1.2);
        transform: rotate(15deg);
    }
    35% {
        transform: scale(1.2);
        transform: rotate(-15deg);
    }
    40% {
        transform: scale(1.2);
        transform: rotate(0deg);
    }
    45% {
        transform: scale(1);
        transform: rotate(0deg);
    }
    50% {
        transform: scale(1);
        transform: rotate(0deg);
    }
    55% {
        transform: scale(1);
        transform: rotate(0deg);
    }
    60% {
        transform: scale(1);
        transform: rotate(0deg);
    }
    65% {
        transform: scale(1);
        transform: rotate(0deg);
    }
    70% {
        transform: scale(1);
        transform: rotate(0deg);
    }
    75% {
        transform: scale(1);
        transform: rotate(0deg);
    }
    80% {
        transform: scale(1);
        transform: rotate(0deg);
    }
    85% {
        transform: scale(1);
        transform: rotate(0deg);
    }
    90% {
        transform: scale(1);
        transform: rotate(0deg);
    }
    95% {
        transform: scale(1);
        transform: rotate(0deg);
    }
    100% {
        transform: scale(1);
        transform: rotate(0deg);
    }

}

@keyframes mouseover {
    0% {
        transform: scale(1);
        transform: rotate(0deg);
    }
    10% {
        transform: scale(1.2);
        transform: rotate(0deg);
    }
    20% {
        transform: scale(1.2);
        transform: rotate(15deg);
    }
    30% {
        transform: scale(1.2);
        transform: rotate(-15deg);
    }
    40% {
        transform: scale(1.2);
        transform: rotate(15deg);
    }
    50% {
        transform: scale(1.2);
        transform: rotate(-15deg);
    }
    60% {
        transform: scale(1.2);
        transform: rotate(15deg);
    }
    70% {
        transform: scale(1.2);
        transform: rotate(-15deg);
    }
    80% {
        transform: scale(1.2);
        transform: rotate(15deg);
    }
    90% {
        transform: scale(1.2);
        transform: rotate(0deg);
    }
    100% {
        transform: scale(1.2);
        transform: rotate(0deg);
    }

}

.mouseover {
    animation-name: mouseover;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
}

.animation {
    animation-name: wobble;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
}


.lead {
    width: 75%;   
}

.text {
    margin-left: 20px;
}

@media only screen and (max-width:1300px){


    .lead {
        margin: auto;
        
    }

    .resize {
        margin: 0;
    }

    #projects h1 {
        margin-bottom: 10px !important;
    }

    #bilder-bewerter {
        margin: 20px;
    }

    .projects-lg-toggle {
        display: none !important;
    }
    .projects-sm-toggle {
        display: block !important;
    }
    
    .h2-projects {
        text-align: center;
    
    }

}

@media only screen and (min-width: 1300px){

    .projects-lg-toggle {
        display: block !important;
    }

    .projects-sm-toggle {
        display: none !important;
    }

}

.btn-projects {
    height: 50px;
    text-align: center;
    padding: 12px 25%;
    margin-top: 100px;
}

.github-mark {
    height: 48px;
}

.a-github-mark {
    margin-top: 100px;
}
@media only screen and (min-width: 365px) {
    .a-github-mark {
        margin-left: 10px !important;
    }
}

@media only screen and (max-width: 365px) {
    
    .buttons {
        display: block !important;
    }
    
}

@media only screen and (max-width: 1300px) {
    
    .a-github-mark {
        margin-top: 40px;
    }
    .btn-projects {
        margin-top: 40px;
    }
    
}


.projects-uneven-align {
    margin-left:25%;
}

#lebenslauf {
    background-color: #003254;
    padding: 48px;
 
}

.btn-lebenslauf {
    margin: auto;
}

#kontakt {
    background-color: #003254;
}

:target {
    display: block;
    position: relative;
    top: -120px; 
    visibility: hidden;
  }